*.class
*.class
BitBot/build/built-jar.properties
BitBot/dist/BitBot.jar
*.class
/BitBot/dist/
*.class
*.class
*.class
BitBot/dist/BitBot.jar
*.class
*.class
*.class
*.jar
*.class
BitBot/dist/BitBot.jar
*.class
BitBot/dist/BitBot.jar
*.class
*.class
BitBot/dist/BitBot.jar