<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- by default azure doesnt allow downloading of woff fonts/json off its server-->
    <staticContent>
      <mimeMap fileExtension="woff" mimeType="application/font-woff" />
      <mimeMap fileExtension="json" mimeType="application/json"/>
    <mimeMap fileExtension="svg" mimeType="image/svg+xml"/>
    </staticContent>
    
    <rewrite>
      <rules>
        <rule name="Disable Access" enabled="true">
          <match url="(.*)" ignoreCase="true" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(www\.)?newcurrency\.azurewebsites\.net"/>
          </conditions>
          <!-- rickroll hehehehehe -->
          <action type="Redirect" url="https://www.youtube.com/watch?v=dQw4w9WgXcQ" appendQueryString="true" redirectType="Permanent" />
        </rule>
        
        
        <!-- Enforces HTTPs only policy in Microsft ISS server - Microsoft Azure -->
        <!--<rule name="Force HTTPS" enabled="false">
          <match url="(.*)" ignoreCase="false" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(www\.)?newcurrency\.azurewebsites\.net"/>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>-->
        <rule name="Force HTTPS" enabled="true">
          <match url="(.*)" ignoreCase="true" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="http\:\/\/^(www\.)?newcurrency\.co"/>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <!-- rickroll hehehehehe -->
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>       
      </rules>
    </rewrite>

    <!-- Redirection to custom 404 error page when its not found-->
    <httpErrors errorMode="Custom" existingResponse="Auto" defaultResponseMode="ExecuteURL"
                defaultPath="/" >
      <!-- Error 404, not found -->
      <error statusCode="404"   path="404_notfound.html" responseMode="Redirect"/>
    </httpErrors>
  </system.webServer>
</configuration>